.footer-area {
    background-color: #100d23;
    padding: 100px 80px ;
    color: #777777;
  }
  .footer-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .footer_title {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
    color: #f5f7f9;
  }
  .single-footer-widget ul.list {
    margin: 0;
    padding: 0;
    list-style: none;
   
  }
  .single-footer-widget ul.list li a {
    color: #777777;
    font-size: 14px;
    line-height: 30px;
    text-decoration: none;
  }
  .single-footer-widget ul.list li a:hover {
    color: #d62172;
  }
  
  .footer-newsletter {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    
  }
  .footer-newsletter .form-control {
    background-color: transparent;
    border: 0.5px solid #7777776f;
    color: #fff;
    font-size: 14px;
    height: 40px;
    padding: 15px;
    margin-right: 20px;
    border-radius: 0;
  }
  .single-footer-widget h5{
    color: white ;
    font-family: "Playfair Display", serif;
    font-weight: 700;
  }
  .single-footer-widget p{
    font-size: 14px;
  }
  .footer-newsletter .form-control:focus {
    box-shadow: none;
  }
  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  @media (max-width: 991px) {
    .single-footer-widget {
        margin-bottom: 30px;
    }
  }
  
  @media (max-width: 767px) {
    .single-footer-widget {
        margin-bottom: 20px;
    }
    
    .footer-container {
        flex-direction: column;
    }
    
    .col-lg-6 {
        justify-content: center;
        margin-top: 20px;
    }
  }