<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://www.maybelline.com/-/media/project/loreal/brand-sites/mny/americas/us/homepage/product-carousel/falsies-surreal/hpbannermodulemnymakysurreal1440x5402x.jpg?rev=aed05e43a0bc42c0bdf830f34ebb05ee&cx=0.72&cy=0.36&cw=768&ch=288&hash=9F13B6D72461219A422F6FC5487127B8" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h2 class="header-text">Super Stay® Up to 24HR Skin Tint </h2>
        <p class="description-text">with Vitamin C</p>
      
      </div>
    </div>
    <div class="carousel-item">
      <img src="https://www.maybelline.com/-/media/project/loreal/brand-sites/mny/americas/us/homepage/product-carousel/super-stay-skin-tint/maybelline-super-stay-skin-tint-hp-banner-1440x540.jpg?rev=c0e3c52566924b6cb5ad7c25f9e6b3eb&cx=0.68&cy=0.23&cw=1440&ch=540&hash=2995E0F1AA00FF8168F6E68C3F508945" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h2 class="header-text"><h2 class="hero__title">The Falsies® Surreal</h2></h2>
        <p class="description-text">Extensions Washable Mascara Eye Makeup</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="https://www.maybelline.com/-/media/project/loreal/brand-sites/mny/americas/us/homepage/product-carousel/tips-and-trends/maybelline-tips-trends-hp-banner-1440x540.jpg?rev=3bb4ec5ff36f48de9dfc861da890cebe&cx=0.65&cy=0.46&cw=1440&ch=540&hash=DC038785F1BC45728EBDA756FD4E7652" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h2 class="header-text">MAKEUP TIPS & TRENDS</h2>
        <p class="description-text">Elevate Your Beauty Routine With Maybelline's Trending Makeup Looks & Tutorials </p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<br>
<H1 class="new">NEW ARRIVALS</H1>
<div class="product-container">
  
<div class="product-card">
  <img src="https://www.maybelline.com/-/media/project/loreal/brand-sites/mny/americas/us/homepage/transporter-module/new-products/falsies-surreal/newproductmodule_mny_maky_falsiessurrealextensions_developed_315x472.png?rev=04d7cb24b783482f85cdc770cdfb8c91&cx=0.45&cy=0.4&cw=315&ch=472&hash=70D080A7612F59F50BA14CDB92845592" alt="Product 1" class="product-image">
  <div class="overlay">
    <h2 class="product-title">
      The Falsies® Surreal Extensions Mascara
        </h2>
  </div>
</div>

<div class="product-card">
  <img src="https://www.maybelline.com/-/media/project/loreal/brand-sites/mny/americas/us/homepage/transporter-module/new-products/lifter-gloss/newproductmodule_mny_maky_lifterglosscandydrop_developed_315x472v2.png?rev=8adf819edd824288b78c6e23d1e6252d&cx=0.51&cy=0.43&cw=315&ch=472&hash=3AD07A40FA7CE9DAFE8B68B33AC43BEE" alt="Product 2" class="product-image">
  <div class="overlay">
    <h2 class="product-title">CANDY DROP LIP GLOSS
    </h2>
  </div>
</div>

<div class="product-card">
  <img src="https://www.maybelline.com/-/media/project/loreal/brand-sites/mny/americas/us/homepage/transporter-module/new-products/superstay-skin-tint-vitamin-c/newproductmodule_mny_maky_superstayskintint_developed_315x472.png?rev=2d0f3a7557e14b1ababf7a2adaea7ad8&cx=0.55&cy=0.54&cw=315&ch=472&hash=6987642324CEC3BD7352D6C91C99A631" alt="Product 3" class="product-image">
  <div class="overlay">
    <h2 class="product-title">
      SUPER STAY® <br> SKIN TINT</h2>
  </div>
</div>

<div class="product-card">
  <img src="https://www.maybelline.com/-/media/project/loreal/brand-sites/mny/americas/us/homepage/transporter-module/new-products/tattoo-studio-brow-styling-gel/newproductmodule_mny_maky_tattoostudiobrowstylinggel_developed_315x472.png?rev=6d1ffd5840dd4cf9af583a34d75e5d2b&cx=0.47&cy=0.58&cw=240&ch=359&hash=BC566EC5EB0827CCEEFE468A989A061E" alt="Product 4" class="product-image">
  <div class="overlay">
    <h2 class="product-title">
      TATTOO STUDIO® <br>BROW STYLE</h2>
  </div>
</div>
</div>
<h1>BACK TO SCHOOL HACKS</h1>
<p>Maybelline New York is here with beauty hacks to help you turn the school hallways into your runway.</p>
<div class="product-container">
  
  <div class="product-card">
    <img src="https://www.maybelline.com/-/media/project/loreal/brand-sites/mny/americas/us/homepage/transporter-module/unlock-your-beauty-potential/back-to-school/maybellinebacktoschooltipsface380x5702x.jpg?rev=13ac7c53435046a181d4dd77f541f256&cx=0.42&cy=0.37&cw=315&ch=472&hash=322EB8CF53641CFC4881454D6F568DAB">
    <div class="overlay">
      <h2 class="product-title">
        FACE MAKEUP HACKS
          </h2>
    </div>
  </div>
  
  <div class="product-card">
    <img src="https://www.maybelline.com/-/media/project/loreal/brand-sites/mny/americas/us/homepage/transporter-module/unlock-your-beauty-potential/back-to-school/maybellinebacktoschooltipseyes380x5702x.jpg?rev=428920237a45469988ecb516f73c352b&cx=0.77&cy=0.35&cw=315&ch=472&hash=FCBD2F33F30713774B3D59E369F4AF91">
    <div class="overlay">
      <h2 class="product-title">EYE MAKEUP HACKS
      </h2>
    </div>
  </div>
  
  <div class="product-card">
    <img src="https://www.maybelline.com/-/media/project/loreal/brand-sites/mny/americas/us/homepage/transporter-module/unlock-your-beauty-potential/back-to-school/maybellinebacktoschooltipslip380x5702x.jpg?rev=9d26395126b04f1394308d0521500095&cx=0.4&cy=0.32&cw=240&ch=359&hash=568B6A3C979AC2EC226CE126CA5C7782" alt="Product 3" class="product-image">
    <div class="overlay">
      <h2 class="product-title">
       LIP MAKEUP HACKS </h2>
    </div>
  </div>
  
 
  </div>
 